
obj/rider.project.restore.info
obj/project.nuget.cache
obj/Crystals.csproj.nuget.dgspec.json
obj/Crystals.csproj.nuget.g.props
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/Crystals.AssemblyInfo.cs
obj/Debug/net6.0/Crystals.AssemblyInfoInputs.cache
obj/Debug/net6.0/Crystals.assets.cache
obj/Debug/net6.0/Crystals.csproj.AssemblyReference.cache
obj/Debug/net6.0/Crystals.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/Crystals.csproj.nuget.dgspec.json
obj/Crystals.csproj.nuget.g.props
obj/Debug/net6.0/Crystals.AssemblyInfo.cs
obj/Debug/net6.0/Crystals.assets.cache
obj/Debug/net6.0/Crystals.csproj.AssemblyReference.cache
obj/Debug/net6.0/Crystals.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/Crystals.csproj.nuget.dgspec.json
obj/Crystals.csproj.nuget.g.props
obj/Debug/net6.0/Crystals.AssemblyInfo.cs
obj/Debug/net6.0/Crystals.assets.cache
obj/Debug/net6.0/Crystals.csproj.AssemblyReference.cache
obj/Debug/net6.0/Crystals.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/Crystals.csproj.nuget.dgspec.json
obj/Crystals.csproj.nuget.g.props
.idea/.idea.Crystals.dir/.idea/workspace.xml
obj/Crystals.csproj.nuget.g.props
obj/Crystals.csproj.nuget.dgspec.json
obj/Crystals.csproj.nuget.g.props
obj/Debug/net6.0/Crystals.assets.cache
obj/Debug/net6.0/Crystals.assets.cache
obj/Debug/net6.0/Crystals.csproj.AssemblyReference.cache
obj/Debug/net6.0/Crystals.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
